{% extends 'adminbase.html' %}

{% block content %}

    
<section class="vh-100 bg-primary">
    <div
    class="bg-image"
    style="
      background-image: url('https://www.gdata.in/images/blog-images/gdata_blogpost_5-11-2015.jpg');
      height: 100vh;">
    <div>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <div class="com">

                       

                    </div>

                    <div class="container text-center">
                      {% for message in messages %}

                      <p>
                        <div class="alert-danger mt-2" style="width :100% " >
                      {{message}}
                        </div>
                      {% endfor %}  
                      </p>

                    </div>
                    
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">ADD TASK</p>
  
                  <form class="mx-1 mx-md-4" action="{% url 'taskk' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="task1"  class="form-control" />
                        <label class="form-label" for="form3Example1c">Task</label>
                       
                      </div>
                    </div>
  
                   

                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="date" name="sdate"  class="form-control" />
                          <label class="form-label" for="form3Example3c">start_date</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="date" name="edate"  class="form-control" />
                          <label class="form-label" for="form3Example3c">end_date</label>
                        </div>
                      </div>
<!-- 
                      <div class="d-flex flex-row align-items-center mb-2">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" name="file" class="form-control" />
                          <label class="form-label" for="form3Example3c">image</label>
                        </div>
                      </div> -->
                      <select class="form-control" name="se1">
                        {% for c in std %}
                        <option value="{{ c.id }}">{{ c.username}}</option>
                        {% endfor %}
                    </select>
            
  
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 m-4">
                      <button type="submit" class="btn btn-info btn-lg">submit</button>
                    </div>
                    
          
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://c0.wallpaperflare.com/preview/118/10/323/business-establishing-a-business-startup-target.jpg" style="height: 300px; ;" >
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}